---
layout: default
title: Blog
description: Articles on topics including the Linux command line and other useful resources for developers.
keywords:
    - PHP developer London
    - Linux sysadmin in London
    - sysadmin uk
    - sysadmin london
    - data analysis sql
    - data analysis python
    - linux knowledgebase
    - linux command line tutorials
---
<h1 class="whitney-medium">
    Welcome to my tips, tricks and insights
</h1>

<p class="line-height-1-point-2-rem">
    Below you will find articles on a wide range of topics, from recommendations for productivity tools to my two cents on industry developments.
</p>

<h2 class="h1 whitney-medium">
    Some of the topics I talk about
</h2>

{% include components/featured-topics.html %}

<h2 class="font-size-2-point-5-rem-sm-down font-size-3-rem whitney-medium">
    All my articles
</h2>

{% include components/featured-articles.html %}
