{% assign heading_start_tags = content | split: '<h' %}
{% assign final_heading_texts = '' | split: '' %}
{% assign final_heading_ids = '' | split: '' %}

{%- for heading_start_tag in heading_start_tags -%}
{% assign html_tag = heading_start_tag | slice: 0,3 | strip %}
{%- if html_tag == '<p>' or html_tag contains '<p' -%}
{%- continue -%}
{%- endif -%}
{% assign heading_elem = heading_start_tag | newline_to_br | split: '<br />' | split: '\n' %}
{% assign heading_elem = heading_elem[0] | replace: '["', '<h' | replace: '\"', '' | replace: '""', '' | replace: '", "', '' %}
{% assign heading_text = heading_elem | strip_html %}
{% assign start_tag = heading_elem | slice: 0,4 %}
{% assign closing_tag = heading_elem | slice: -5,5 %}
{% assign heading_attributes = heading_elem | replace: start_tag, '' | replace: heading_text, '' | replace: closing_tag, '' | replace: '>', '' | strip_html | split: ' ' %}

{% for heading_attribute in heading_attributes %}
{%- assign attribute = heading_attribute | slice: 0,2 -%}
{%- if attribute != 'id' -%}
{%- continue -%}
{%- endif -%}
{%- assign heading_id = heading_attribute | replace: 'id=', '' -%}
{%- assign final_heading_ids = final_heading_ids | push: heading_id -%}
{% endfor %}

{% assign final_heading_texts = final_heading_texts | push: heading_text %}
{%- endfor -%}

{%- if final_heading_ids.size > 0 -%}
<div class="toc">
    <ul>
        {%- for heading_text in final_heading_texts -%}
        {%- assign index = forloop.index | minus: 1 -%}
            <li>
                <a href="#{{- final_heading_ids[index] -}}">{{ heading_text }}</a>
            </li>
        {%- endfor -%}
    </ul>
</div>
{%- endif -%}

<style type="text/css">
    div.toc {
        padding: 0 !important;
    }

    div.toc ul {
        list-style-type: none;
        padding-left: 3px;
    }

    div.toc li {
        font-size: 1.5rem;
    }

    div.toc li:not(:last-child) {
        margin-bottom: 1rem;
    }
</style>

<script src="{{ '/assets/js/components/SmoothScrollingLink.js' | relative_url }}"></script>
