$whitney-book: 'Whitney-Book';
$whitney-medium: 'Whitney-Medium';
$whitney-semibold: 'Whitney-Semibold';
$whitney-bold: 'Whitney-Bold';
$whitney-black: 'Whitney-Black';

@font-face {
    font-family: $whitney-book;
    src: local($whitney-book),
        url('#{$fontsDir}/Whitney-Book.eot?#iefix') format('embedded-opentype'),
        url('#{$fontsDir}/Whitney-Book.woff') format('woff'),
        url('#{$fontsDir}/Whitney-Book.woff2') format('woff2'),
        url('#{$fontsDir}/Whitney-Book.ttf') format('truetype'),
        url('#{$fontsDir}/Whitney-Book.svg#Whitney-Book') format('svg'); 
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: $whitney-medium;
    src: local($whitney-medium),
        url('#{$fontsDir}/Whitney-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$fontsDir}/Whitney-Medium.woff') format('woff'),
        url('#{$fontsDir}/Whitney-Medium.woff2') format('woff2'),
        url('#{$fontsDir}/Whitney-Medium.ttf') format('truetype'),
        url('#{$fontsDir}/Whitney-Medium.svg#Whitney-Medium') format('svg'); 
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: $whitney-semibold;
    src: local($whitney-semibold),
        url('#{$fontsDir}/Whitney-Semibold.eot?#iefix') format('embedded-opentype'),
        url('#{$fontsDir}/Whitney-Semibold.woff') format('woff'),
        url('#{$fontsDir}/Whitney-Semibold.woff2') format('woff2'),
        url('#{$fontsDir}/Whitney-Semibold.ttf') format('truetype'),
        url('#{$fontsDir}/Whitney-Semibold.svg#Whitney-Semibold') format('svg'); 
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: $whitney-bold;
    src: local($whitney-bold),
        url('#{$fontsDir}/Whitney-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$fontsDir}/Whitney-Bold.woff') format('woff'),
        url('#{$fontsDir}/Whitney-Bold.woff2') format('woff2'),
        url('#{$fontsDir}/Whitney-Bold.ttf') format('truetype'),
        url('#{$fontsDir}/Whitney-Bold.svg#Whitney-Bold') format('svg'); 
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: $whitney-black;
    src: local($whitney-black),
        url('#{$fontsDir}/Whitney-Black.eot?#iefix') format('embedded-opentype'),
        url('#{$fontsDir}/Whitney-Black.woff') format('woff'),
        url('#{$fontsDir}/Whitney-Black.woff2') format('woff2'),
        url('#{$fontsDir}/Whitney-Black.ttf') format('truetype'),
        url('#{$fontsDir}/Whitney-Black.svg#Whitney-Black') format('svg'); 
    font-weight: 800;
    font-style: normal;
}

.whitney-medium {
    font-family: $whitney-medium, sans-serif;
}

.whitney-semibold {
    font-family: $whitney-semibold, sans-serif;
}

.whitney-bold {
    font-family: $whitney-bold, sans-serif;
}

.whitney-black {
    font-family: $whitney-black, sans-serif;
}
