@mixin headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}

@mixin typography {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  p {
    @content;
  }
}

@mixin pre_text_wrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
