// Colours

$cobalt-blue:       #004BBE;
$cerulean-blue:     #0077B5;
$dark-cerulean-blue: #03377E;
$sapphire-blue:     #0A2360;
$bahama-blue:       #1B457E;
$link-water-grey:   #C1CED3;
$foggy-grey:        #A8A6A1;
$gamboge-orange:    #EDA808;
$white:             #fff;

// Paths

$fontsDir: '../fonts';
