// Colours

$alice-blue:        #E1EAFF;
$lavender-blue:     #B1C7FF;
// Header BG
$san-marino-blue:   #4E73A8;
// Header BG
$steel-blue:        #4575BC;
// Header BG
$denim-blue:        #165AC0;
// Header BG
$dodger-blue:       #4A93FF;
// Header BG
//$cobalt-blue:       #0042A3;
$cobalt-blue:       #004BBE;
$picton-blue:       #5B8CD0;
$cerulean-blue:     #0077B5;
$dark-cerulean-blue: #03377E;
$sapphire-blue:     #0A2360;
// Header BG
$sapphire-blue-2:   #0B3574;
// Header BG
$prussian-blue:     #001F4D;
// Header BG
$midnight-blue:     #153661;
// Header BG
$bahama-blue:       #1B457E;
$dark-green-copper: #4B766B;
// Header BG
$san-juan-grey:     #485464;
$link-water-grey:   #C1CED3;
$granny-smith-grey: #7B9A92;
$jet-stream-silver: #B4D1D0;
$foggy-grey:        #A8A6A1;
$gamboge-orange:    #EDA808;
$white:             #fff;

// Paths

$fontsDir: '../fonts';
