.text-center {
  text-align: center;
}

.colour-inherit {
  color: inherit;
}

.no-underline {
  text-decoration: none;
}

// Text colours

.text-dark-cerulean-blue {
  color: $dark-cerulean-blue;
}

.emphasis-paragraph {
  color: $dark-cerulean-blue;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: bold;
}
