// Text aligns

.text-center {
    text-align: center;
}

@media (max-width: 576px) {
    .text-left-xs-down {
        text-align: left;
    }
}

// Text colours

.text-summer-sky-blue {
    color: $summer-sky-blue;
}

// Line heights

.line-height-1-point-2-rem {
    line-height: 2rem;
}
