.text-center {
    text-align: center;
}

/*
    Text colours
*/

.text-summer-sky-blue {
    color: $summer-sky-blue;
}

@media (max-width: 576px) {
    .text-left-xs-down {
        text-align: left;
    }
}
