<section class="featured-articles equalise-heights" data-targets="article > h4, article > p" data-min-width="768">
    {%- for article in site.posts -%}
    <article>
        <a href="{{ article.url}}">
        {%- if article.thumbnail.url and article.thumbnail.url != '' and article.thumbnail.url != nil -%}
            <img src="{{ article.thumbnail.url | relative_url }}"{% if article.thumbnail.alt and article.thumbnail.alt != '' and article.thumbnail.url != nil %} alt="{{ article.thumbnail.alt }}"{% endif %} />
        {%- else -%}
            <img src="https://placekitten.com/300/300" alt="Cat placeholder" />
        {%- endif -%}
        </a>

        <h4 class="whitney-black">
            {{ article.title }}
        </h4>

        {%- if article.categories -%}
        <small class="article-categories whitney-semibold">
            Categories: {{ article.categories | join: ', ' }}
        </small>
        {%- endif -%}

        <p>{{ article.content | strip_html | truncatewords: 15 }}</p>

        <p>
            <a class="btn bg-summer-sky-blue" title="Read more" href="{{article.url}}">
                Read More
            </a>
        </p>
    </article>
    {%- endfor -%}
</section>

<script src="{{ '/assets/js/components/EqualiseHeights.js' | relative_url }}"></script>
