<section class="grid grid-3 margin-top-3-rem equalise-heights" data-targets=".resource > h3" data-min-width="768">
    {% for resource in site.data.resources %}
    {% if resource.path == nil %}
    {% break %}
    {% endif %}

    {% assign filetype = resource.path | split: '.' | last %}

    {% unless (filetype != nil and filetype == 'pdf') or (resource.path contains '//') %}
    {% assign open_in_new_tab = false %}
    {% else %}
    {% assign open_in_new_tab = true %}
    {% endunless %}

    <div class="resource">
        <a href="{{ resource.path }}"{% if open_in_new_tab %} target="_blank"{% endif %} class="display-block text-center">
            {% case filetype %}
            {% when 'doc' or 'docx' %}
            <img class="max-width-100-pc max-width-35-pc-xl-up" src="{{ 'assets/images/msword.png' | relative_url }}" alt="Microsoft Word" />
            {% when 'ppt' or 'pptx' %}
            <img class="max-width-100-pc max-width-35-pc-xl-up" src="{{ 'assets/images/msppt.png' | relative_url }}" alt="Microsoft PowerPoint" />
            {% when 'pdf' %}
            <img class="max-width-100-pc max-width-35-pc-xl-up" src="{{ 'assets/images/adobepdf.png' | relative_url }}" alt="Portable Document Format (PDF)" />
            {% when 'xls' or 'xlsx' or 'csv' %}
            <img class="max-width-100-pc max-width-35-pc-xl-up" src="{{ 'assets/images/msexcel.png' | relative_url }}" alt="Microsoft Excel" />
            {% else %}
            {% if resource.path contains 'play.google.com' %}
            <img class="max-width-100-pc max-width-35-pc-xl-up" src="{{ 'assets/images/play-store.png' | relative_url }}" alt="Google Play Store" />
            {% endif %}
            {% if resource.path contains 'apps.apple.com' %}
            <img class="max-width-100-pc max-width-35-pc-xl-up" src="{{ 'assets/images/appstore.png' | relative_url }}" alt="App Store" />
            {% endif %}
            {% endcase %}
        </a>

        <h3 class="text-center">
            {{ resource.name }}
            {% if resource.category %}
            <em>
                ({{ resource.category }})
            </em>
            {% endif %}
        </h3>

        {% if resource.short_description %}
        <p class="text-center">
            {{ resource.short_description }}
        </p>
        {% endif %}
    </div>
    {% endfor %}
</section>

<script src="{{ 'assets/js/components/EqualiseHeights.js' | relative_url }}"></script>
