/*
    Featured articles
*/

.featured-articles {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 767px) {
        grid-template-columns: 3fr;

        article {
            text-align: center;
        }
    }

    article {
        h4 {
            font-size: 1.5rem;
        }
    }
}

/*
    Article content
*/

.content-article {
    p {
        a {
            &:not([class]) {
                transition: opacity .20s ease-in-out;
                color: $summer-sky-blue;
                opacity: .7;

                &:hover {
                    opacity: 1;
                    text-decoration: underline;
                }
            }
        }
    }

    img {
        max-width: 100%;
    }

    h4 {
        a {
            color: $summer-sky-blue;
            font-size: 1.2rem;
        }
    }

    h3, h4 {
        a {
            transition: .5s;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    h3 {
        font-size: 1.5rem;
    }

    .featured-image {
        background-size: cover;
        background-position: center bottom -2rem;
        background-repeat: no-repeat;
        min-height: 25rem;
        margin-bottom: 2.5rem;
    }
}

.postmeta {
    display: block;
    font-size: 1.5rem;
    text-align: right;
    
    &:not(:last-of-type) {
        margin-top: 1rem;
    }
}

.article-categories {
    display: block;
    font-size: 1.2rem;
    font-style: italic;
}
