.grid {
    display: grid;

    &.grid-3 {
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    &.equal-heights {
        grid-auto-rows: 1fr;
    }

    @media (max-width: 576px) {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

header {
    .grid {
        &.grid-3 {
            @media (max-width: 767px) {
                grid-gap: 10px;
                grid-template-columns: 8fr;
            }
        }
    }
}
