header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    @media (min-width: 768px) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &:not([class*="bg-"]):not(.scrolled) {
        @extend .bg-nero-black;
    }

    &.scrolled {
        background-color: rgba($nero-black, .8);
    }

    .top-logo {
        @media (min-width: 768px) {
            margin-left: 20px;
        }

        @media (max-width: 767px) {
            text-align: center;
        }

        display: inline-block;

        svg {
            width: 150px;
            height: 25px;
        }
    }

    nav {
        margin: 0;
        text-align: center;

        &:first-of-type {
            @media (min-width: 768px) and (max-width: 1199px) {
                text-align: left;
            }
        }

        ul {
            margin: 0;
            padding-left: 0;
            
            li {
                color: $summer-sky-blue;
                font-family: $whitney-book, sans-serif;
                font-size: 1.2rem;

                &:not(.current) {
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;

                    &:not(:last-of-type) {
                        margin-right: 2.5%;
                    }
                }

                &.current {
                    background-color: $summer-sky-blue;
                    border-radius: 5px;
                    color: $white;
                    padding: 0.5rem 1rem;
                    margin-right: 2%;
                }
            }
        }

        &:last-of-type {
            li {
                @media (max-width: 767px) {
                    padding-left: 0;
                }
            }
        }
    }

    nav, nav li {
        display: inline-block;
    }
}
