ul.list-star {
    list-style-type: none;
    font-size: 1.5rem;
    padding-left: 0;

    &#toolset-1,
    &#toolset-2,
    &#toolset-3 {
        @media (max-width: 576px) {
            li {
                padding-left: 0;
            }
        }
    }

    li {
        position: relative;
        padding-left: 2.5rem;
        min-height: 2rem;

        &:before {
            position: absolute;
            top: 5px;
            left: 0;
            margin-left: 0;
            vertical-align: middle;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}
