ul.list-star {
    list-style-type: none;
    font-size: 1.5rem;
    padding-left: 0;

    &#toolset-1,
    &#toolset-2,
    &#toolset-3 {
        @media (max-width: 576px) {
            li {
                padding-left: 0;
            }
        }
    }

    li {
        position: relative;
        padding-left: 2.5rem;
        min-height: 2rem;

        &:before {
            position: absolute;
            top: 5px;
            left: 0;
            margin-left: 0;
            vertical-align: middle;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}

ul.list-categories {
    list-style-type: none;
    padding-left: 0;

    li {
        display: inline-block;
        background-color: $summer-sky-blue;
        font-size: .9rem;
        font-weight: bold;
        min-width: 2.5rem;
        text-align: center;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: .5rem;
        padding-right: .5rem;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
        border-bottom-left-radius: .3rem;
        border-bottom-right-radius: .3rem;

        &:not(:last-of-type) {
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}
