.notification-block {
  background-color: #3F80C2;
  color: #fff;
  padding: 2rem;
  width: 100%;
  max-width: 56%;

  @include headings {
    color: $white;
  }

  @media (max-width: 1199px) {
    max-width: 75%;
  }
}
