<!DOCTYPE HTML>
<html lang="en">
    <head>
        {%- assign title = page.title | append: ' | Blog | ' | append: site.title | append: ' &minus; ' | append: site.strapline -%}
        {%- if page.description and page.description != nil and page.description != '' -%}
        {%- assign description = page.description -%}
        {%- else -%}
        {%- capture description %}Arun Sahadeo is a PHP developer and Linux sysadmin based in London.{% endcapture description -%}
        {%- endif -%}
        {% if page.author and page.author != nil and page.author != '' -%}
        {%- assign author = page.author -%}
        {%- else -%}
        {%- assign author = site.author -%}
        {%- endif -%}
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="title" content="{{ title }}" />
        <meta name="description" content="{{ description }}" />
        <meta name="author" content="{{ author }}" />
        {% if page.keywords and page.keywords != nil and page.keywords.size > 0  %}<meta name="keywords" content="{{ page.keywords | join: ", " }}" />{% endif %}

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site.url | append: page.url }}" />
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:image" content="{{ '/assets/images/title-card-facebook.jpg' | relative_url }}" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="{{ site.url | append: page.url }}" />
        <meta property="twitter:title" content="{{ title }}" />
        <meta property="twitter:description" content="{{ description }}" />
        <meta property="twitter:image" content="{{ '/assets/images/title-card-twitter.jpg' | relative_url }}" />

        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
        <script src="{{ '/assets/js/components/StickyHeader.js' | relative_url }}"></script>
    </head>
    <body>
        {% include components/top/header/navigation.html %}
        <section class="content-grid margin-top-10-rem margin-bottom-5-rem{% if page.table_of_contents %} content-grid-two-columns{% endif %}">
            <article class="bg-charcoal-grey content-article"> 
                <small class="postmeta whitney-bold">
                    {% assign day = page.date | date: "%-d" %}
                    {% case day %}
                    {% when '1' or '21' or '31' %}
                    {{ day }}st
                    {% when '2' or '22' %}
                    {{ day }}nd
                    {% when '3' or '23' %}
                    {{ day }}rd
                    {% else %}
                    {{ day }}th
                    {% endcase %}

                    {{ page.date | date: "%B %Y" }}
                </small>

                <small class="postmeta whitney-bold">
                    By <em class="text-summer-sky-blue">{{ author }}</em>
                </small>
                <h1 class="article-title">
                    {{ page.title }}
                </h1>

                <small class="display-block margin-bottom-2-rem font-size-1-point-2-rem whitney-bold">
                    {%- assign word_count = content | number_of_words -%}
                    {%- assign average_read_total = word_count | divided_by: 200.0 | split: '.' -%}
                    {%- assign average_read_minutes = average_read_total[0] | append: ' minute(s)' -%}
                    {%- assign average_read_fractional = average_read_total[1] | prepend: '0.' -%}
                    {%- assign average_read_seconds = average_read_fractional | times: 0.60 | round: 2 | replace: '0.', '' | append: ' second(s)' -%}
                    {%- unless average_read_seconds != nil -%}
                    {%- assign average_read_time = average_read_minutes -%}
                    {%- else -%}
                    {%- assign average_read_time = average_read_minutes | append: ' ' | append: average_read_seconds -%}
                    {%- endunless -%} 
                    <em>Average read time: <span class="text-summer-sky-blue">{{ average_read_time }}</span></em>
                </small>

                {% if page.thumbnail.url != nil and page.thumbnail.url != '' and page.thumbnail.show_on_article != false %}
                {% assign featured_image_url = page.thumbnail.url %}
                {% elsif page.featured_image.url != nil and page.featured_image.url != '' %}
                {% assign featured_image_url = page.featured_image.url %}
                {% endif %}

                {% if page.thumbnail.url != nil and page.thumbnail.alt != '' and page.thumbnail.show_on_article != false %}
                {% assign featured_image_alt = page.thumbnail.alt %}
                {% elsif page.featured_image.alt != nil and page.featured_image.alt != '' %}
                {% assign featured_image_alt = page.featured_image.alt %}
                {% endif %}

                {% unless featured_image_url == nil or featured_image_url == '' %}
                    <div class="featured-image" style="background-image: url({{ featured_image_url | relative_url }});"{% if featured_image_alt != nil and featured_image_alt != '' %} role="img" aria-label="{{ featured_image_alt }}"{% endif %}></div>
                {% endunless %}
 
                {{ content }}

                <p>
                    <a class="btn bg-summer-sky-blue" title="Read more" href="{{ '/blog' | relative_url}}">
                        Return to blog
                    </a>
                </p>
            </article>

            {% if page.table_of_contents %}
            <aside>
                <div class="bg-charcoal-grey">
                    <h3>
                        Table of Contents
                    </h3>
                </div>
            </aside>
            {% endif %}
        </section>
        {%- unless content.size >= 400 -%}
        {%- assign sticky_footer = true -%}
        {%- else -%}
        {%- assign sticky_footer = false -%}
        {%- endunless -%}
        {% include components/bottom/footer/navigation.html sticky_footer=sticky_footer %}
    </body>
</html>
