<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% if page.description and page.description != '' and page.description != nil %}<meta name="description" content="{{ page.description }}" />{% endif %}
        {% if page.keywords and page.keywords != nil and page.keywords.size > 0  %}<meta name="keywords" content="{{ page.keywords | join: ", " }}" />{% endif %}
        <script src="{{ '/assets/js/components/StickyHeader.js' | relative_url }}"></script>
    </head>
    <body>
        {% include components/top/header/navigation.html %}
        <section class="content-grid margin-top-10-rem margin-bottom-5-rem{% if page.table_of_contents %} content-grid-two-columns{% endif %}">
            <article class="bg-charcoal-grey content-article"> 
                <h1>
                    {{ page.title }}
                </h1>

                {% if page.thumbnail.url != nil and page.thumbnail.url != '' and page.thumbnail.show_on_article != false %}
                {% assign featured_image_url = page.thumbnail.url %}
                {% elsif page.featured_image.url != nil and page.featured_image.url != '' %}
                {% assign featured_image_url = page.featured_image.url %}
                {% endif %}

                {% if page.thumbnail.url != nil and page.thumbnail.alt != '' and page.thumbnail.show_on_article != false %}
                {% assign featured_image_alt = page.thumbnail.alt %}
                {% elsif page.featured_image.alt != nil and page.featured_image.alt != '' %}
                {% assign featured_image_alt = page.featured_image.alt %}
                {% endif %}

                {% unless featured_image_url == nil or featured_image_url == '' %}
                    <div class="featured-image" style="background-image: url({{ featured_image_url | relative_url }});"{% if featured_image_alt != nil and featured_image_alt != '' %} role="img" aria-label="{{ featured_image_alt }}"{% endif %}></div>
                {% endunless %}

                <small class="postmeta">
                    {% assign day = page.date | date: "%-d" %}
                    {% case day %}
                    {% when '1' or '21' or '31' %}
                    {{ day }}st
                    {% when '2' or '22' %}
                    {{ day }}nd
                    {% when '3' or '23' %}
                    {{ day }}rd
                    {% else %}
                    {{ day }}th
                    {% endcase %}

                    {{ page.date | date: "%B %Y" }}
                </small>

                <small class="postmeta">
                    <em>{{ page.author }}</em>
                </small>
 
                {{ content }}

                <p>
                    <a class="btn bg-summer-sky-blue" title="Read more" href="{{ '/blog' | relative_url}}">
                        Return to blog
                    </a>
                </p>
            </article>

            {% if page.table_of_contents %}
            <aside>
                <div class="bg-charcoal-grey">
                    <h3>
                        Table of Contents
                    </h3>
                </div>
            </aside>
            {% endif %}
        </section>
        {% include components/bottom/footer/navigation.html %}
    </body>
</html>
