<!DOCTYPE HTML>
<html lang="en">
    <head>
        {%- assign title = page.title | append: ' | ' | append: site.title | append: ' &minus; ' | append: site.strapline -%}
        {%- if page.description and page.description != nil and page.description != '' -%}
        {%- assign description = page.description -%}
        {%- else -%}
        {%- capture description %}Arun Sahadeo is a PHP developer and Linux sysadmin based in London.{% endcapture description -%}
        {%- endif -%}
        {% if page.author and page.author != nil and page.author != '' -%}
        {%- assign author = page.author -%}
        {%- else -%}
        {%- assign author = site.author -%}
        {%- endif -%}
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="title" content="{{ title }}" />
        <meta name="description" content="{{ description }}" />
        {% if page.keywords and page.keywords != nil and page.keywords.size > 0  %}<meta name="keywords" content="{{ page.keywords | join: ", " }}" />{% endif %}

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site.url | append: page.url }}" />
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:image" content="{{ '/assets/images/title-card-facebook.jpg' | relative_url }}" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="{{ site.url | append: page.url }}" />
        <meta property="twitter:title" content="{{ title }}" />
        <meta property="twitter:description" content="{{ description }}" />
        <meta property="twitter:image" content="{{ '/assets/images/title-card-twitter.jpg' | relative_url }}" />

        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
        <script src="{{ '/assets/js/components/StickyHeader.js' | relative_url }}"></script>
    </head>
    <body class="{{ page.title | downcase }}">
        {% include components/top/header/navigation.html %}
        <section class="content-grid content-grid-two-columns margin-vert-5-rem">
            <article class="bg-charcoal-grey">
                {{ content }}
            </article>

            <aside>
                <div class="bg-charcoal-grey padding-horiz-2-point-5-rem">
                    <h3 class="font-size-2-rem">
                        Articles by Month / Year
                    </h3>

                    {%- assign articlesByYear = site.posts | group_by_exp: "post", "post.date | date: '%Y'" | uniq -%}
                    {%- for year in articlesByYear -%}
                    <h3 class="font-size-2-point-1-rem text-summer-sky-blue">
                        <a href="/archives/{{ year.name }}/">{{ year.name }}</a>
                    </h3>

                    <ul class="list-categories">
                        {%- assign articlesByMonth = year.items | group_by_exp: "post", "post.date | date: '%B'" | uniq -%}
                        {%- for month in articlesByMonth -%}
                        <li><a href="/archives/{{ year.name }}/{{ month.name | date: '%m' }}">{{ month.name }}</a></li>
                        {%- endfor -%}
                    </ul>
                    {%- endfor -%}
                </div>

                <div class="bg-charcoal-grey padding-horiz-2-point-5-rem">
                    <h3 class="font-size-2-rem">
                        Categories
                    </h3>

                    {%- assign categories = site.categories | sort -%}
                    {%- if categories.size > 0 -%}
                    <ul class="list-categories">
                    {%- for category in categories -%}
                    <li><a href="/category/{{ category | first | strip_html }}">{{- category | first | strip_html -}}</a></li>
                    {%- endfor -%}
                    </ul>
                    {%- endif -%}
                </div>
            </aside>
        </section>
        {%- include components/bottom/footer/navigation.html -%}
    </body>
</html>
