---
layout: default
---
<h1 class="text-center">Category: <em>{{ page.slug | replace: '-', ' ' | capitalize }}</em></h1>

{%- assign category_query = "post.categories contains '" | append: page.slug | append: "'" -%}
{%- assign category_posts = site.posts | group_by_exp: 'post', category_query -%}
{%- assign category_posts = category_posts | where: 'name', page.slug -%}

{%- if category_posts != nil -%}
  {%- assign posts = category_posts[0].items -%}
{%- endif -%}

{%- if page.content -%}
<div class="columns-block">
  <div class="col">
    {{ page.content }}
  </div>
</div>
{%- endif -%}

{%- unless posts == nil -%}
<div class="three-columns-block">
  {% for post in posts %}
    {%- assign content_length = post.content | strip | size -%}
    {%- assign excerpt_length = post.excerpt | strip | size -%}
    {%- unless content_length > 0 and excerpt_length > 0 -%}
      {% continue %}
    {%- endunless -%}

    {% if post.featured_image.filename != nil or post.featured_image.filename != '' %}
      {%- assign featured_image = post.featured_image.filename -%}

      {% unless featured_image contains '/assets/img/featured/' %}
        {%- assign featured_image = featured_image | prepend: '/assets/img/featured/' -%}
      {% endunless %}
    {% endif %}

  <div class="column featured-post">
    {% unless featured_image == nil or featured_image == '' %}
    <div class="featured-image" style="background-image: url({{ featured_image | relative_url }});"></div>
    {% endunless %}

    <h2 class="text-dark-cerulean-blue">
      <a class="colour-inherit no-underline" href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h2>

    {% unless post.excerpt == nil %}
    <p>{{ post.excerpt }}</p>
    {% endunless %}
  </div>
  {% endfor %}
</div>
{%- endunless -%}
