<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
        <script src="{{ '/assets/js/components/StickyHeader.js' | relative_url }}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% if page.description and page.description != nil and page.description != '' %}<meta name="description" content="{{ page.description }}" />{% endif %} 
        {% if page.keywords and page.keywords != nil and page.keywords.size > 0  %}<meta name="keywords" content="{{ page.keywords | join: ", " }}" />{% endif %}
    </head>
    <body class="{{ page.title | downcase }}">
        {% include components/top/header/navigation.html %}
        <section class="content-grid margin-vert-5-rem">
            <article class="bg-charcoal-grey">
                {{ content }}
            </article>
        </section>
        {% include components/bottom/footer/navigation.html %}
    </body>
</html>
