<!DOCTYPE HTML>
<html lang="en">
    <head>
        {%- assign title = page.title | append: ' | ' | append: site.title | append: ' &minus; ' | append: site.strapline -%}
        {%- if page.description and page.description != nil and page.description != '' -%}
        {%- assign description = page.description -%}
        {%- else -%}
        {%- capture description %}Arun Sahadeo is a PHP developer and Linux sysadmin based in London.{% endcapture description -%}
        {%- endif -%}
        {% if page.author and page.author != nil and page.author != '' -%}
        {%- assign author = page.author -%}
        {%- else -%}
        {%- assign author = site.author -%}
        {%- endif -%}
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="title" content="{{ title }}" />
        <meta name="description" content="{{ description }}" />
        {% if page.keywords and page.keywords != nil and page.keywords.size > 0  %}<meta name="keywords" content="{{ page.keywords | join: ", " }}" />{% endif %}

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site.url | append: page.url }}" />
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:image" content="{{ '/assets/images/title-card-facebook.jpg' | relative_url }}" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="{{ site.url | append: page.url }}" />
        <meta property="twitter:title" content="{{ title }}" />
        <meta property="twitter:description" content="{{ description }}" />
        <meta property="twitter:image" content="{{ '/assets/images/title-card-twitter.jpg' | relative_url }}" />

        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
        <script src="{{ '/assets/js/components/DailyQuote.js' | relative_url }}"></script>
        <script src="{{ '/assets/js/components/StickyHeader.js' | relative_url }}"></script>
    </head>
    <body class="home">
        {% include components/top/header/navigation.html %}
        <section class="content-grid content-grid-two-columns margin-vert-5-rem">
            <article class="bg-charcoal-grey">
                {{ content }}
            </article>

            <aside>
                <div class="bg-charcoal-grey">
                    <h3 class="whitney-medium">
                        Current Location
                    </h3>

                    <p>
                        {{ site.location }}
                    </p>

                    <h3 class="whitney-medium">
                        Current Employer
                    </h3>

                    <p>
                        {{ site.company }}
                    </p>
                </div>

                <div class="bg-charcoal-grey">
                    <h3 class="whitney-medium">
                        Quote of the Day
                    </h3>

                    <p class="daily-quote max-width-300"></p>
                </div>

                {% if site.reading_list != nil and site.reading_list.size > 0 %}
                <div class="bg-charcoal-grey">
                    <h3 class="whitney-medium">
                        What am I reading right now?
                    </h3>

                    <ul class="list-star">
                        {% for book in site.reading_list %}
                        <li class="icon-star font-size-1-point-2-rem">
                            <em>{{ book }}</em>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </aside>
        </section>
        {% include components/bottom/footer/navigation.html %}
    </body>
</html>
