html,
body {
  margin: 0;
  padding: 0;
  background-color: rgba($alto-grey, .55);
  min-height: 100vh;
  width: 100%;
  height: auto;
  font-family: $yrsa, sans-serif;
}

body {
  &:not(.page-404) {
    > main {
      min-height: 66.8vh;

      @media (max-width: 991px) {
        min-height: 75vh;
      }

      @media (max-width: 767px) {
        min-height: 65vh;
      }
    }
  }

  > main {
    margin-top: 3rem;
    display: block;

    h4 {
      font-size: 24px;
      margin-bottom: 1rem;
    }

    p,
    ul {
      font-size: 21px;
      margin-top: 0;

      @media (max-width: 567px) {
        font-size: 20px;
      }

      + h1,
      + h2,
      + h3,
      + h4,
      + h5,
      + h6 {
        margin-top: 0; 
      }
    }
  }

  &:not(.article-page):not(.project-page) {
    > main {
      @include headings {
        &:first-child {
            font-size: 34px;
            margin-top: 0;
            margin-bottom: 1.25rem;
        }
      }
    }
  }
}

@include headings {
  color: $dark-cerulean-blue;
}
