.post-heading {
  text-align: center;
  font-size: 3rem;
  color: $dark-cerulean-blue;
  margin-bottom: 1.5rem;

  @media (max-width: 480px) {
    font-size: 2.5rem;
  }

  @media (max-width: 320px) {
    font-size: 2.2rem;
  }
}

main {
  > article {
    max-width: 85%;
    margin-bottom: .5rem;
    margin-left: auto;
    margin-right: auto;  
    background-color: #D3DAFF;
    padding: 2rem;

    @include headings {
      margin-top: 0;
      margin-bottom: 1.5rem;
    }

    @media (max-width: 1199px) {
      max-width: 100%;
    }

    @media (max-width: 767px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    @include headings {
      color: $dark-cerulean-blue;
    }

    @include typography {
      > a {
        color: inherit;
        text-decoration: none;
      }
    }

    h2 {
      font-size: 3rem;
    }

    p,
    ol {
      font-size: 1.5rem;
    }

    ol {
      padding-left: 20px;

      li {
        &:not(:last-of-type) {
          margin-bottom: .5rem;
        }
      }
    }

    code {
      background-color: $dark-cerulean-blue;
      color: $white;
      padding: 5px;

      &.language-plaintext {
        display: inline-block;
        line-height: 16px;
        padding-bottom: 10px;
      }
    }

    pre.highlight {
      @include pre_text_wrap();
      margin-bottom: 2rem;

      > code {
        display: block;
        font-size: 1.5rem;
        padding: 1rem;
      }
    }
  }
}

.featured-image {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 10rem;
  overflow: hidden;
}

.featured-project {
  &#stemlive {
    .featured-image {
      background-size: 80%;
      background-position: center;
      min-height: 13rem;

      @media (max-width: 1199px) {
        background-size: contain;
      }
    }
  }

  h2 {
    text-align: center;
  }

  p {
    @media (max-width: 1199px) {
      text-align: center;
    }
  }
}

.article-read-time-text,
.article-date-text {
  display: inline;

  @media (max-width: 567px) {
    font-size: 1rem;
    vertical-align: top;
  }
}

.project-page {
  article {
    a {
      color: $dark-cerulean-blue;
    }
  }
}
